{% block specialities %}
<div class="container">

  <div class="is-size-3 has-text-centered">
    <p>Направления</p>
  </div>
  <div class="is-size-5 has-text-justified">
    <p>В институте информационных технологий и технологического образования кафедра готовит студентов по направлениям:</p>
  </div>
  <br>
  <div class="columns is-multiline">
    <div class="column is-half has-text-justified">
      <p class="has-background-light p-2 is-size-5 has-text-centered">Направление 09.03.01 (ранее 230100) «Информатика и вычислительная техника»,<br> профиль «Технологии разработки программного обеспечения».</p>
      <p>Присваивается квалификация (степень) «академический бакалавр»</p>
      <p><u>Срок обучения</u> — 4 года</p>
      <p><u>Форма обучения</u> — очная</p>
      <h5>Вступительные испытания:</h5>
      <p>русский язык (ЕГЭ), математика (ЕГЭ), информатика и информационно-коммуникационные технологии (ИКТ) (ЕГЭ).</p>
    </div>
    
    <br>
    
    <div class="column is-half has-text-justified">
      <p class="has-background-light p-2 is-size-5 has-text-centered">Направление 44.04.01 «Педагогическое образование» <br> Магистерская программа «Корпоративное электронное обучение»</p>
      <p>Присваивается квалификация (степень) «магистр»</p>
      <p><u>Форма обучения</u> — очная</p>
      <h5>Вступительные испытания:</h5>
      <p>письменный экзамен «Информационные технологии в образовательной деятельности».</p>
      </div>
  </div>
  
</div>
{% endblock %}
