{% block tutors %}
<div class="container">
  <div class="is-size-3 has-text-centered">
    <p>Преподаватели</p>
  </div>
  <div class="columns is-multiline">

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/AG.jpg">
      </figure>
      <div class="container has-text-centered">
        <h4 class="has-text-weight-bold">Абрамян Геннадий Владимирович</h4>
        <span class="bord">Профессор, доктор педагогических наук</span>
      </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/EU.jpg">
      </figure>
      <div class="container has-text-centered">
        <h4 class="has-text-weight-bold">Авксентьева Елена Юрьевна</h4>
        <span class="bord">Доцент, кандидат педагогических наук</span>
      </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/AP.jpg">
      </figure>
      <div class="container has-text-centered">
        <h4 class="has-text-weight-bold">Аксютин Павел Александрович</h4>
        <span class="bord">Ассистент, ученой степени не имеет</span>
      </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/AA.jpg">
      </figure>
      <div class="container has-text-centered">
        <h4 class="has-text-weight-bold">Атаян Ануш Михайловна</h4>
        <span class="bord">Доцент, кандидат педагогических наук</span>
      </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/EZ.jpg">
      </figure>
        <div class="container has-text-centered">
          <h4 class="has-text-weight-bold">Власова Елена Зотиковна</h4>
          <span class="bord">Заведующая кафедрой, профессор, доктор педагогических наук</span>
        </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/SV.jpg">
      </figure>
        <div class="container has-text-centered">
          <h4 class="has-text-weight-bold">Гончарова Светлана Викторовна</h4>
          <span class="bord">Доцент, кандидат педагогических наук</span>
        </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/NN.jpg">
      </figure>
        <div class="container has-text-centered">
          <h4 class="has-text-weight-bold">Жуков Николай Николаевич</h4>
          <span class="bord">Ассистент, кандидат физико-математических наук</span>
        </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/IB.jpg">
      </figure>
        <div class="container has-text-centered">
          <h4 class="has-text-weight-bold">Государев Илья Борисович</h4>
          <span class="bord">Доцент, кандидат педагогических наук</span>
        </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/SH.jpg">
      </figure>
        <div class="container has-text-centered">
          <h4 class="has-text-weight-bold">Шалденкова Анна Владимировна</h4>
          <span class="bord">Доцент, кандидат физ.-мат. наук</span>
        </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/IV.jpg">
      </figure>
        <div class="container has-text-centered">
          <h4 class="has-text-weight-bold">Иванова Екатерина Алексеевна</h4>
          <span class="bord">Ассистент, ученой степени не имеет</span>
        </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/TA.jpg">
      </figure>
        <div class="container has-text-centered has-text-centered">
          <h4 class="has-text-weight-bold">Ильина Татьяна Сергеевна</h4>
          <span class="bord">Старший преподавател, ученой степени не имеет</span>
        </div>
    </div>

    <div class="column has-text-centered is-half">
      <figure class="image is-128x128 is-inline-block">
        <img src="../static/images/NA.png">
      </figure>
        <div class="container has-text-centered">
          <h4 class="has-text-weight-bold">Карпова Наталья Александровна</h4>
          <span class="bord">Доцент, кандидат технических наук</span>
        </div>
    </div>
  </div>
</div>
{% endblock %}
